@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif; 
}
body {
    background-color: #d8d8d8;
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
    line-height: 1.6;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
/* HEADER  */
@media (min-width:700px) {
    .main-header * {
        z-index: 5;
      }
}
.main-header {
    background-image: url(img/ayazma.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: #fff;
    height: 100vh;
    position: relative;
  }
  
  .main-header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }

  .main-header .content {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    color: #fff;
  }
  .main-header .content h1 {
    font-size: 3.4rem;
  }
  /* .main-header .content p {
    font-size: 4rem;
    max-width: 60rem;
    margin: 2rem 0 3rem;
    color: #7A4D1D;
  } */
/* HEADER  */

/* NAVBAR */
.navbar{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #7A4D1D;
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.9;
    height: 70px;
    z-index: 9;
} 
.navbar > .nav-btn {
    display: none;
}
.navbar > .nav-links{
    margin-right: 50px;
}
  
.navbar > .nav-links > a {
    display: inline-block;
    margin-right: 25px;
    color: #EDFFEA;
    font-size: 18px;  
    transition: all ease 0.2s;
}
  
.navbar > .nav-links > a:hover {
    color: black;
}
  
.navbar > #nav-check {
    display: none;
}
  /* NAVBAR */

  /* Köyler */
.rehber{
    margin-top: 100px;
}
.rehber h1{
  color: #7A4D1D;
    text-align: center;
    font-size: 3rem;
}
.item {
    position: initial;
    margin-bottom: 20px;
    padding-bottom: 30px;
    border-bottom: 3px solid #765b03;
}

.item .image img {
  border-radius: 23px;
}

img {
  width: 100%;
  overflow: hidden;
}
.item .right-content h4 {
  font-size: 35px;
  margin-bottom: 5px;
  text-align: center;
  color: #7A4D1D;
}
.item .right-content #baslik {
  font-size: 25px;
  margin-bottom: 5px;
  text-align: center;
  color: #7A4D1D;
}
.item .center-content .main-button {
  position: absolute;
  right: 0;
  top: 0;
}
.item .right-content p {
  margin: 18px 0px;
}
.rehber p {
  font-size: 15px;
  line-height: 30px;
  color: #4a5e19;
}
.item .right-content ul {
  border-top: 1px solid #7A4D1D;
  border-bottom: 1px solid #7A4D1D;
  padding: 15px 0px;
  text-align: center;
}
.item .right-content ul li {
  display: inline-block;
  width: 32%;
  color: #436000;
  font-size: 19px;
}
.main-button a {
  font-size: 14px;
  color: #fff;
  background-color: #7A4D1D;
  border: 1px solid #7A4D1D;
  padding: 12px 30px;
  display: inline-block;
  border-radius: 25px;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  transition: all .3s;
  position: inherit;
  overflow: hidden;
}
.main-button a:hover{
  background-color: #1d1716;
  color: #fff;
  border: 1px solid #7A4D1D;
}
 h2{
  color: #7A4D1D;
    text-align: center;
    font-size: 3rem;
}

/* RESPONSİVE */

  
@media (max-width:700px) {
  .navbar > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .navbar > .nav-btn > label {
    display: inline-block;
    width: 57px;
    height: 71px;
    padding:24px 16px;
  }
  .navbar > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .navbar > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .navbar > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #1d1716;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
    margin-top: 20px;
  }
  .navbar > .nav-links > a {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 20px;
    padding: 12px;
  }
  .navbar > .nav-links > a:hover {
      background-color: #d8d8d8;
    }
  .navbar > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .navbar > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
  }
  .tarih .row h2{
    font-size: 2.4rem;
  }
  .lead {
    font-size: 1rem;
    text-align: center;
  }
  .main-header .content h1{
    font-size: 3rem;
  }.rehber .container h1{
      font-size: 2rem;
  }
  .rehber .container .item h4{
    font-size: 28px;
}
.container .item .right-content ul li {
  width: 47%;
  font-size: 18px;
  text-align: center;
}
}
/* RESPONSİVE */

/* SSS */
.accordion-style .card:last-child {
  margin-bottom: 0;
}
.accordion-style .card-header {
  border: 0;
  background: none;
  padding: 0;
  border-bottom: none;
}
.accordion-style .btn-link {
  color: #ffffff;
  position: relative;
  background: #5c3b19;
  border: 1px solid #15395a;
  display: block;
  width: 100%;
  font-size: 18px;
  border-radius: 3px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  text-align: left;
  white-space: normal;
  box-shadow: none;
  padding: 15px 55px;
  text-decoration: none;
}
.accordion-style .btn-link:hover {
  text-decoration: none;
}
.accordion-style .btn-link.collapsed {
  background: #5c3b19;
  border: 1px solid #15395a;
  color: #fff;
  border-radius: 3px;
}
.accordion-style .btn-link.collapsed:after {
  background: none;
  border-radius: 3px;
  content: "+";
  left: 16px;
  right: inherit;
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  height: 26px;
  transform: none;
  width: 26px;
  top: 15px;
  text-align: center;
  background-color: #fff;
  color: #7A4D1D;
}
.accordion-style .btn-link:after {
  background: #fff;
  border: none;
  border-radius: 3px;
  content: "-";
  left: 16px;
  right: inherit;
  font-size: 20px;
  font-weight: 600;
  height: 26px;
  line-height: 26px;
  transform: none;
  width: 26px;
  top: 15px;
  position: absolute;
  color: #7A4D1D;
  text-align: center;
}
.accordion-style .card-body {
  padding: 20px;
  border-top: none;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-left: 1px solid #15395a;
  border-right: 1px solid #15395a;
  border-bottom: 1px solid #15395a;
}
@media screen and (max-width: 767px) {
  .accordion-style .btn-link {
      padding: 15px 40px 15px 55px;
  }
}
@media screen and (max-width: 575px) {
  .accordion-style .btn-link {
      padding: 15px 20px 15px 55px;
  }
}
.card-style1 {
  box-shadow: 0px 0px 10px 0px rgb(89 75 128 / 9%);
}
.border-0 {
  border: 0!important;
}

.card-body .item .right-content ul li {
  width: 102%;
  font-size: 19px;
}